name: Create Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  github-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Verify Go module
        run: |
          go mod tidy
          go mod verify
          go list -m

      - name: Publish Go module
        run: |
          # Request Go proxy to fetch the module
          GOPROXY=https://proxy.golang.org GO111MODULE=on go list -m github.com/invoicetronic/go-sdk@${{ github.ref_name }}

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          make_latest: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
